@media(max-width:1150px){
  .header-contact{
    display: none;
  }
  .Toggle{
      display: block;
    }
  .header-logo-right{
    display: none;
  }
  .last-btn{
  width:50%;
  font-size:20px;
}
}
@media (max-width:1000px) {
  .question-wrapper h1{
    font-size: 35px;
    padding-top:250px;
  }
  .btn-scroll{
    padding-top:130px;
  }
  .question{
    height:500px;
  }

  .question-main{
    width:80%;
  }
  .last-btn{
  width:50%;
  font-size:16px;
}
}
@media(max-width:670px){
  .question-wrapper h1{
    font-size:25px;
  }
  .btn-scroll{
    height:30px;
  }
  button::after{
    height:12px;
    width:12px;
  }
  .para span{
    margin-right: 10px;
  }
  .list dt{
    font-size: 12px;
  }
  .ptext{
    font-size:9px;
  }
  .question-bottom h1{
    font-size:25px;
  }
  .foot-bar{
   height: 235px;
  }
 .btn-wrapper{
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
           flex-direction: column;
   width:100%;
   height: 235px;
   text-align: center;

 }
 .footer-btn{
   border-bottom: 1px solid white;
   text-decoration: none;
   line-height: 47px;
   margin: 0;
 }
 footer p{
   font-size: 8px;
 }
 .last-btn br{
  display:block;
  }
}
@media(max-width:400px){
  .list dt{
    font-size:9px;
  }
  .ptext{
    font-size: 7px;
  }
}
